<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Profile</h1>
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
                Your account is awaiting approval.
            </p>
        </div>
    </div>
    <p class="govuk-body">We have your profile information but need the primary contact (professional operator) for your organisation to confirm you should have access to phytosanitary certificate applications linked to your professional operator number. You will not be able to view or create phytosanitary certificate applications until the primary contact has approved your access.</p>
    <p class="govuk-body">Once your organisation&apos;s primary contact has verified your identity you will be able to create applications for export phytosanitary certificates via the Applications menu.</p>
    <p class="govuk-body">If you are not able to gain access to the Applications menu, check with your organisation&apos;s primary contact if they have received an email to enable them to verify your identity. If your organisation&apos;s primary contact has not received a verification request email, or if your identity has been verified by the primary contact but you are still unable to access the Applications menu when logged into the system, then contact <a href="mailto:plant.health@forestrycommission.gov.uk">plant.health@forestrycommission.gov.uk</a></p>
</div>
