@model Forestry.Eapc.External.Web.Views.Shared.Components.ProgressBar.ProgressBarViewComponentModel

@{
    const decimal totalSteps = 12;
}
<span class="govuk-caption-l">Section @Model.Step of @totalSteps</span>
