@{
    ViewData["Title"] = "Accessibility statement for the Electronic Application for Phytosanitary Certification";
}

@section backlink{
    <a href="javascript:window.history.back();" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

    <p class="govuk-body">This accessibility statement applies to the Electronic Application for Phytosanitary Certification service.</p>
    <p class="govuk-body">This website is run by the Forestry Commission. We want as many people as possible to be able to use this website.  For example, that means you should be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts</li>
        <li>navigate most of the website using just a keyboard</li>
        <li>navigate most of the website using speech recognition software</li>
    </ul>
    <p class="govuk-body">We&apos;ve also made the website text as simple as possible to understand.</p>
    <p class="govuk-body"><a target="_blank" class="govuk-link" rel="noreferrer noopener" aria-label="Open the AbilityNet website"  href="https://mcmw.abilitynet.org.uk/">AbilityNet (opens in new tab)</a> has advice on making your device easier to use if you have a disability.</p>

    <h3 class="govuk-heading-m">How accessible this website is</h3>
    <p class="govuk-body">We know some parts of this website are not fully accessible:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>For users who need to zoom in or increase the size of the text, the content will not reflow in a single column.</li>
        <li>For users who use screen-readers, most older PDF documents are not fully accessible.</li>
        <li>For people using a keyboard to navigate the website, you cannot skip to the main content.</li>
    </ul>

    <h3 class="govuk-heading-m">Feedback and contact information</h3>
    <p class="govuk-body">If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:</p>
    <ul  class="govuk-list govuk-list--bullet">
        <li>email <a href="mailto:plant.health@forestrycommission.gov.uk">plant.health@forestrycommission.gov.uk</a></li>
        <li>call +44 (0)300 067 5155 (direct)</li>
    </ul>
    <p class="govuk-body">We&apos;ll consider your request and get back to you in five working days.</p>

    <h3 class="govuk-heading-m">Reporting accessibility problems with this website</h3>
    <p class="govuk-body">We&apos;re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we&apos;re not meeting accessibility requirements, contact us by emailing <a href="mailto:plant.health@forestrycommission.gov.uk">plant.health@forestrycommission.gov.uk</a></p>

    <h3 class="govuk-heading-m">Enforcement procedure</h3>
    <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the &apos;accessibility regulations&apos;). If you&apos;re not happy with how we respond to your complaint, <a target="_blank" class="govuk-link" rel="noreferrer noopener" aria-label="Open the Equality Advisory and Support Service website" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS) (opens in new tab)</a>.</p>

    <h3 class="govuk-heading-m">Technical information about this website&apos;s accessibility</h3>
    <p class="govuk-body">The Forestry Commission is committed to making its websites and applications accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
    <h4 class="govuk-heading-s">Compliance status</h4>
    <p class="govuk-body">This website is partially compliant with the <a target="_blank" class="govuk-link" rel="noreferrer noopener" aria-label="Open the Web Content Accessibility Guidelines version 2.1" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1  (opens in new tab)</a> AA standard, due to the non-compliances and exemptions listed below.</p>

    <h3 class="govuk-heading-m">Non-accessible content</h3>
    <p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>
    <h4 class="govuk-heading-s">Non-compliance with the accessibility regulations</h4>
    <p class="govuk-body">Images within PDFs may not contain alternative text. This fails WCAG 2.1 success criterion 1.1.1. Non-text Content (A). People who are blind or have visual disabilities may not be able to perceive the content.</p>
    <p class="govuk-body">The reading order present within the PDFs may not be correct and may not reflect the visual presentation. This fails WCAG 2.1 AA success criterion 1.3.2 Meaningful Sequence (A). People who are blind or visually impaired may not be able to understand the organisation of the content available. People using only keyboards to navigate the content may not be able to access the information that they require.</p>
    <p class="govuk-body">Within the service, when zoomed in, or at smaller viewports, the content does not reflow into a single column and as a result, there may be the presence of both vertical and horizontal scrolling. This issue may also be present within PDF documents. This fails WCAG 2.1 AA success criterion 1.4.10 Reflow (AA). People with low vision who need enlarged text will have to scroll to see the whole page or will not be able to read it if the text overlaps other text.</p>
    <p class="govuk-body">There are no bypass blocks to skip recurring content. This fails WCAG 2.1 success criterion 2.4.1 Bypass Blocks (A). People may not be able to reach the main content of the service quickly and the lack of bypass blocks may mean numerous keystrokes (or similar actions) to navigate past repeating content, or having to hear the same content, on every page throughout the service.</p>
    <p class="govuk-body">The pages within our PDFs may not be tagged correctly. This fails WCAG 2.1 AA success criterion 2.4.2. Page Titled (A). People may not be able to quickly and easily identify whether the information contained in the webpage is relevant to their needs.</p>
    <p class="govuk-body">The PDFs may contain incorrect headings. This fails WCAG 2.1 AA success criterion 2.4.6. Headings and Labels (AA). People with disabilities who may want to scan the document for information may not be able to perceive the content contained in the document and whether it is relevant to them due to the lack of meaningful headings or labels.</p>
    <p class="govuk-body">The language of the PDF documents may not have been set correctly. This fails WCAG 2.1 AA success criterion 3.1.1. Language of Page (A). By not setting the language, assistive technology may be not be able to accurately convey the information to users.</p>

    <h3 class="govuk-heading-m">Content that&apos;s not within the scope of the accessibility regulations</h3>
    <h4 class="govuk-heading-s">PDFs and other documents</h4>
    <p class="govuk-body">Some of our PDFs and Word documents are essential to providing our services. For example, we have PDFs representing certificates.</p>
    <p class="govuk-body">The accessibility regulations <a target="_blank" class="govuk-link" rel="noreferrer noopener" aria-label="Open The Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 regulation 4" href="http://www.legislation.gov.uk/uksi/2018/952/regulation/4/made">do not require us to fix PDFs or other documents published before 23 September 2018  (opens in new tab)</a> if they&apos;re not essential to providing our services. For example, we do not plan to fix the certificate PDF.</p>
    <p class="govuk-body">Any new PDFs or Word documents we publish will meet accessibility standards.</p>

    <h3 class="govuk-heading-m">What we&apos;re doing to improve accessibility</h3>
    <p class="govuk-body">We are keen to engage with users of this service and to continue to develop this application to meet the needs of our users. Performance of this application will be regularly assessed, and accessibility reviewed every 12 months in September. If you have any experience or information relating to the use of this, or a similar service, which would help us better meet the needs of our users, please email us at <a href="mailto:plant.health@forestrycommission.gov.uk">plant.health@forestrycommission.gov.uk</a></p>

    <h3 class="govuk-heading-m">Preparation of this accessibility statement</h3>
    <p class="govuk-body">This statement was prepared on 26<sup>th</sup> January 2022. It was last reviewed on 8<sup>th</sup> June 2022.</p>
    <p class="govuk-body">The application was last tested on 15<sup>th</sup> June 2022. The test was carried out between the Forestry Commission and the contracted software developer.</p>
    <p class="govuk-body">The full application was tested against WCAG 2.1 AA using an accessibility testing tool deployed by the software developer.  We recognise that automated testing tools are not representative of accessibility issues that our users would encounter. As such, we are organising an external audit and will update our accessibility statement with our revised plan following this. We will update this statement by 15<sup>th</sup> July 2022.</p>
    <p class="govuk-body">To request a copy of the full accessibility test report please email us at <a href="mailto:plant.health@forestrycommission.gov.uk">plant.health@forestrycommission.gov.uk</a></p>
</div>
